:root {
  --white: #fff;
  --black: #000;
  --light: #feddbe;
  --dark: #0a1031;
  --semidark: #21314a;
  --lightdark: #354154;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--lightdark);
}

/* 
This Mobile first Design Approach
*/

/* container */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

/* header */
header {
  background-color: var(--dark);
  display: grid;
  justify-items: space-between;
  align-self: start;
  grid-template-areas: "brand logout";
  padding: 10px 20px;
}

/* brand */
header .brand h1 {
  color: var(--white);
  grid-area: brand;
  font-size: 22px;
}

/* logout */
header .logout {
  grid-area: logout;
  justify-self: end;
  align-self: start;
  color: var(--light);
  display: flex;
  gap: 5px;
  align-items: center;
  border: 2px solid var(--light);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

header .logout:hover {
  background-color: var(--lightdark);
}

.logout img {
  width: 18px;
  height: 18px;
}

.logout p {
  display: none;
  text-transform: uppercase;
  font-weight: bold;
  user-select: none;
}

/* main-section */

.main-section {
  display: grid;
  width: 100%;
  margin: 10px;
  grid-template-areas:
    "generator"
    "saved";
  place-items: center;
  align-self: flex-start;
  gap: 10px;
  justify-self: center;
}

/* Generator */
.main-section #generatorDiv {
  grid-area: generator;
}

/* Saved Report */
.main-section #savedDiv {
  grid-area: saved;
}

/* btn-div */

.btn-div {
  width: 90%;
  max-height: 300px;
  max-width: 400px;
  background-color: var(--semidark);
  display: grid;
  gap: 20px;
  place-items: center;
  cursor: pointer;
  user-select: none;
  padding: 20px;
}

.btn-div img {
  min-width: var(--img-width, 100px);
  height: auto;
}

.btn-div:hover {
  background-color: var(--dark);
  color: var(--white);
}

.btn-div p {
  color: var(--light);
  font-size: 18px;
  user-select: none;
  text-align: center;
}

/* footer */
.footer {
  align-self: end;
  background-color: var(--dark);
  padding: 15px 0px;
  text-align: center;
  color: var(--white);
}

@media (min-width: 576px) {
  .main-section {
    grid-template-areas: "generator saved";
  }

  .logout p {
    display: inline-block;
  }

  .btn-div {
    min-width: 200px;
    height: 300px;
  }

  /* Generator */
  .main-section #generatorDiv {
    grid-area: generator;
    justify-self: end;
  }

  /* Saved Report */
  .main-section #savedDiv {
    grid-area: saved;
    justify-self: start;
  }
}

@media (min-width: 980px) {
  .btn-div img {
    --min-height: 22em;
  }

  .btn-div {
    max-width: 500px;
    width: 400px;
    height: 300px;
  }
}
