:root {
  --white: #fff;
  --black: #000;
  --light: #feddbe;
  --dark: #0a1031;
  --semidark: #21314a;
  --lightdark: #354154;
  --header-color: #ccc;
  --header-brand-text: var(--black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* 
This Mobile first Design Approach
*/

/* container */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

/* header */
header {
  background-color: var(--header-color);
  display: grid;
  justify-items: space-between;
  align-self: start;
  grid-template-areas: "brand logout";
  padding: 10px;
}

/* brand */
header .brand {
  grid-area: brand;
  align-self: center;
}

header .brand h1 {
  color: var(--header-brand-text);
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
}

/* logout */
header .logout {
  grid-area: logout;
  justify-self: end;
  align-self: center;
  padding: 8px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

/* main-section */

.main-section {
  display: grid;
  width: 100%;
  grid-template-areas:
    "generator"
    "saved";
  place-items: center;
  align-self: flex-start;
  gap: 10px;
  padding: 10px;
  justify-self: center;
}

/* Generator */
.main-section #generatorDiv {
  grid-area: generator;
}

/* Saved Report */
.main-section #savedDiv {
  grid-area: saved;
}

/* btn-div */

.btn-div {
  width: 100%;
  min-height: 200px;
  background-color: rgba(14, 14, 14, 0.747);
  display: grid;
  gap: 20px;
  place-items: center;
  cursor: pointer;
  user-select: none;
  padding: 30px;
  transition: color 300ms, background-color 300ms;
}

.btn-div img {
  min-width: var(--img-width, 100px);
  height: auto;
}

.btn-div:hover,
.btn-div:focus-visible {
  background-color: rgb(78, 55, 55);
  color: var(--white);
}

.btn-div p {
  color: var(--light);
  font-size: 1.4em;
  user-select: none;
  text-align: center;
}

/* footer */
.footer {
  align-self: end;
  background-color: var(--header-color);
  padding: 15px 0px;
  text-align: center;
  color: var(--header-brand-text);
}

@media (min-width: 576px) {
  header .brand h1 {
    font-size: 1.5em;
  }

  .main-section {
    grid-template-areas: "generator saved";
  }

  .logout p {
    display: inline-block;
  }
  /* Generator */
  .main-section #generatorDiv {
    grid-area: generator;
    justify-self: end;
  }

  /* Saved Report */
  .main-section #savedDiv {
    grid-area: saved;
    justify-self: start;
  }
}

@media (min-width: 700px) {
  .btn-div {
    min-width: 300px;
  }
}

@media (min-width: 980px) {
  header .brand h1 {
    font-size: 1.8em;
  }

  .main-section {
    justify-content: start;
  }

  .btn-div img {
    --min-height: 22em;
  }
  .btn-div p {
    font-size: 1.5em;
  }

  header {
    padding: 30px;
  }

  .main-section {
    padding: 30px;
    gap: 30px;
  }
}
