* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Common Variables */
:root {
  --back-color: #0b0044;
  --btn-color: #211466;
  --unit: rgb(27, 170, 163);
  --btn-danger-color: rgb(182, 38, 38);
  --text-color: var(--back-color);
  --light: #fff;
}

/* body */
body {
  position: relative;
}

/* Mobile First Approach */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

/* header */
header {
  align-self: start;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  user-select: none;
}

.brand h1 {
  font-size: 1.4em;
  text-transform: uppercase;
  color: var(--black);
}

/* Back Button */
.back-btn {
  border: 1px solid;
  padding: 8px 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.back-btn:hover {
  background-color: #ddd;
}

/* Grid Container */
.grid-container form {
  align-self: start;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  user-select: none;
}

/* input-group */
.input-group {
  border: 1px solid var(--back-color);
  padding: 15px;
}

/* gender */

#gender input[type="radio"] {
  margin: 0 5px;
}

#testInclude .input-group {
  margin-top: 5px;
}

.input-group#submit input {
  background-color: var(--btn-color);
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 30px;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}

.input-group#submit input[type="reset"] {
  background-color: var(--btn-danger-color);
  margin-left: 5px;
}

.input-title {
  border-bottom: 1px solid #000;
  font-weight: bold;
}

/* input-group > form > input-div */
.input-div {
  margin: 10px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

/* Input label */
.input-div label {
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* input-group > input-div */
.input-div input {
  height: 30px;
  padding: 5px;
}

.input-group.btn-group {
  border: none;
  padding: 0;
}

.input-group#test label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px 0;
}

.input-group#test label input {
  margin-right: 5px;
}

.inputfield {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.unit {
  background-color: var(--unit);
  margin: 1px 2px;
  color: #fff;
  width: max-content;
  max-width: 100%;
  padding: 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* footer */
.footer {
  align-self: end;
  width: 100%;
  background-color: #ccc;
  color: #000;
  text-align: center;
  padding: 15px;
}

/* bigger than 480 px */
@media (min-width: 480px) {
  /* Input label */
  .input-div > label {
    min-width: 150px;
  }
}

/* bigger than 720px */
@media (min-width: 720px) {
  /* Input label */
  .input-div > label {
    min-width: 200px;
  }
}

/* bigger than 1080px */
@media (min-width: 1080px) {
  .grid-container {
    width: 980px;
    margin: 0 auto;
  }
  .brand h1 {
    font-size: 1.8em;
  }

  header {
    padding: 30px;
  }
}
